<div class="modal fade" id="emdl2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cargar matriz desde archivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="control-label">Seleccionar archivo</label>
        <input id="input-b5" name="input-b5[]" type="file" multiple>
        <script>
          $(document).ready(function() {
              $("#input-b5").fileinput({showCaption: false, dropZoneEnabled: true});
          });
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnAceptar" name="btnAceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
