<div class="modal fade" id="emdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicializar matriz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Número de Alternativas:</label>
            <input type="text" class="form-control" id="noalternativaseiii" value="1">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Número de Criterios:</label>
            <input type="text" class="form-control" id="nocriterioseiii"  value="1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnAceptar" name="btnAceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
